@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    outline: none;
}

body {
    min-height: 100vh;
    background-size: cover;
    background: linear-gradient(to bottom, #191726,  #121D40, #295073, #517c8c8a);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    
    
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #62bcf7;
    box-shadow: 7px 5px 9px 0px rgba(0, 0, 0, 0.508);
    
}

header h4 {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    
}

header h4:last-child{
    margin-bottom: 20px;
}

header span {
    color: #62BCF7;
   
}


main {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    position: relative;
    margin-bottom: 10px;
    
}

.titulo {
    position: absolute;
    top: -13px;
    backdrop-filter: blur(15px);
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #62BCF7;
    
}



nav {
    width: 100%;
    height: 450px;
    border: 1px solid #ffffff60;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    padding: 20px;
    border-radius: 22px 0 22px 0;
    box-shadow: 2px 3px 20px 2px rgba(0, 0, 0, 0.674);
}




nav a {
   color: white;
   border: 1px solid wheat;
   width: 100%;
   padding: 12px;
   border-radius: 10px 0 10px 0;
   font-weight: 600;
   transition: .3s;
   
   
    
}
nav a:nth-child(1):hover{
    background-color: #32D951;
    transform: scale(1.1);
    background-image: url('../imagens/wpp.webp');
    background-size: 99%;
    background-position: 2000%;
} 



nav a:nth-child(2):hover {
    background-color: #FF0000;
    transform: scale(1.1);
    background-image: url('../imagens/youtubelogo.png');
    background-size: 99%;
    background-position: 2000%;
} 


nav a:nth-child(3):hover {
    transform: scale(1.1);
    background-image: url('../imagens/Instagram-logo.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 200%;
    
    
}

nav a:nth-child(4):hover {
    background-color: #00A1F6;
    transform: scale(1.1);
    background-image: url('../imagens/logo-twitter.webp');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 200%;
}

nav a:nth-child(5):hover {
    background-color: white;
    transform: scale(1.1);
    background-image: url('../imagens/logo-github.png');
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 80% top;
    color: black;
}


nav a:nth-child(6):hover {
    background-color: #0077B7;
    transform: scale(1.1);
    background-image: url('../imagens/linkedin-logo.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 150%;
}


footer {
    color: #191726;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
    
    
}


@media screen and (max-width: 400px) {
    nav {
        width: 90%;
    }
}